<div class="container-fluid">
<div class = "row">
<div class="col-12">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">The Weather App</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">History <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-danger my-2 my-sm-0" href="#" ng-click = 'logout()'>Logout</a>
      </li>
    </ul>
  </div>
</nav>
</div>
</div>
<div class = "row">
    <div class = "col-12 text-center">
      <h1 ng-if = "historyExists" class="display-4">Hi {{cookies}}, these were your past searches!</h1>
      <h1 ng-if = "!historyExists" class="display-4">Oh, you don't care about the weather :(</h1>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="list-group col-lg-4 col-md-12 col-sm-12 absolute-center">
  <a class="list-group-item list-group-item-action" ng-repeat = "item in splits track by $index" ng-click = "historySearch(item)">{{item}}</a>
</div>
  </div>
</div>
