<div class="container-fluid">
<div class = "row">
<div class="col-12">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">The Weather App</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/history">History <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-danger my-2 my-sm-0" href="#" ng-click = 'logout()'>Logout</a>
      </li>
    </ul>
  </div>
</nav>
</div>
</div>
<div class = "row">
    <div class = "col-12 text-center">
      <h1 class="display-4">Weather for {{city}}, {{weather.country}}</h1>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
      <div class="col-lg-4 col-md-12 d-flex">
          <div class="card">
            <img class="card-img-top" src="images/thunder.jpg" alt="Card image cap">
              <div class="card-body flex-fill text-center">
                  <h5 class="card-title">Weather</h5>
                  <p class="card-text">Current Weather: {{weather.weat}}</p>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-12 d-flex">
          <div class="card">
            <img class="card-img-top" src="images/temp.jpg" alt="Card image cap">
              <div class="card-body flex-fill text-center">
                  <h5 class="card-title">Temperature</h5>
                  <p class="card-text">Current Temperature: {{(weather.temp) - 273.15 | number : 2}} °C</p>
                  <p class="card-text">Max Temperature: {{(weather.max) - 273.15 | number : 2}} °C</p>
                  <p class="card-text">Min Temperature: {{(weather.min) - 273.15 | number : 2}} °C</p>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-12 d-flex">
          <div class="card">
            <img class="card-img-top" src="images/wind.jpg" alt="Card image cap">
              <div class="card-body flex-fill text-center">
                  <h5 class="card-title">Wind</h5>
                  <p class="card-text">Wind Speed: {{weather.windspeed}} m/s</p>
                  <p class="card-text">Wind Degree: {{weather.winddegree}} degrees </p>
              </div>
          </div>
      </div>
  </div>
</div>
